In [1]:
import os,sys

In [2]:
sys.path.append('../scripts')
from data_reader import DataReader

rdr = DataReader()

In [3]:
rdr.read_file('../airflow/raw_data/example/2021-08-14/20/booking.csv')

['2,2021-08-14T20:00:00,standard_1_bed,1,2910.0,GBP',
 '4,2021-08-14T20:00:00,standard_1_bed,1,2910.0,GBP',
 '5,2021-08-14T20:00:00,standard_1_bed,4,2910.0,EUR',
 '']

In [5]:
c,t = rdr.get_dfs('../airflow/raw_data/2022-09-22/9/20181024_d1_0830_0900.csv')

20181024_d1_0830_0900

In [6]:
c.head()

                 unique_id  track_id    veh_type  traveled_distance  avg_speed
0  20181024_d1_0830_0900_0         1         Car              48.85   9.770344
1  20181024_d1_0830_0900_1         2  Motorcycle              98.09  19.839417
2  20181024_d1_0830_0900_2         3  Motorcycle              63.80  18.228752
3  20181024_d1_0830_0900_3         4  Motorcycle             145.72  26.229014
4  20181024_d1_0830_0900_4         5  Motorcycle             138.01  24.841425

In [7]:
t.head()

,unique_id,lat,lon,speed,lon_acc,lat_acc,time
0,20181024_d1_0830_0900_0,37.977391,23.737688,4.9178,0.0518,-0.0299,0.00
1,20181024_d1_0830_0900_0,37.977391,23.737688,4.9207,-0.0124,-0.0354,0.04
2,20181024_d1_0830_0900_0,37.977391,23.737688,4.9160,-0.0519,-0.0413,0.08
3,20181024_d1_0830_0900_0,37.977390,23.737688,4.9057,-0.0914,-0.0478,0.12
4,20181024_d1_0830_0900_0,37.977390,23.737689,4.8871,-0.1679,-0.0550,0.16